.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: auto; 
    background-color: #F4F5F7;
    overflow: hidden;
    box-sizing: border-box; 
}

.card p {
    margin: 0;
    padding: 5px;
    text-align: left;

}

.card img {
    width: 200px;
    height: 240px;  
    object-fit: cover;  
    transition: filter 0.3s ease;  
}

.album {
    font-size: 18px;
    font-weight: bold;
}

.band {
    color: #898989;
    font-size: 16px;
    font-weight: lighter;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto; 
}

.buyBtn{
    display: none;
    background-color: #B40F00;
    color: #fff;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #898989;
    background-color: #cccccc; 
}

.card:hover img {
    filter: grayscale(100%) brightness(70%); 
    z-index: 1;
    
}

.card:hover .buyBtn {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 2;
    
    
   
}


@media (max-width: 500px) {
    .card {
       
        max-width: 150px;
        max-height: 200px;
        
    }
    
    .card img {
        max-width: 150px;
        max-height: 100px; 
        object-fit: cover;  
    }
    .card p {
        padding: 1px;
        margin-left: 4px;
    }
    
    .album {
        font-size: 14px;
    }
    
    .band {
        font-size: 14px;
     }
    
    .price {
        font-size: 16px;
         
    }
}