* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: transparent;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

 .dropdown-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-pages, .list-user {
    display: flex;
    list-style: none;
    padding: 0;
}

.list-pages{
   display: flex;
   margin-right: 350px;
}
 
 

a {
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    color: #000000;
}

.list-user a {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #B40F00;
    border: 1px solid #B40F00;
    border-radius: 5px;
    padding: 5px 10px;
    transition: color 0.7s ease;}

.list-pages a:hover {
    color: #B40F00;
}

.list-user a:hover {
    transition: 0.10s;
    background-color: #B40F00;
    color: #fff;
}

@media (max-width: 1300px) {
    .list-pages{
        display: flex;
        margin-right: 50px;
     }
}


@media (max-width: 985px) {
     
    .menu-icon {
        display: block;  
    }

    
    .dropdown-menu {
        display: none;  
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .dropdown-menu.active {
        display: flex;  
    }
        
    .list-pages{
        margin-right: 0px;
    }

    .list-pages li, .list-user li {
        margin: 10px 0; 
    }
}
