@font-face {
    font-family: poppins;
    src: url("/fonts/Poppins-Regular.ttf");
}
*{
    
    font-family: poppins;
}
body{
    overflow-x: hidden;

}

.albumList {
    display: flex;           
    flex-wrap: wrap;        
    gap: 20px;               
    justify-content: center;  
}